@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Caixa";
}

@model CadastrarCaixaViewModel;

<form class="card border-primary-subtle shadow-sm mx-auto p-4" style="max-width: : 620px;" asp-action="Cadastrar"
      method="post">
    <div class="mb-3">
        <label asp-for="Etiqueta" class="form-label fw-semibold text-primary text-uppercase saml">Etiqueta</label>
        <input asp-for="Etiqueta" type="text" class="from-control">
        <span asp-validation-for="Etiqueta" class="text-danger samll fw-semibold"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Cor" class="form-label fw-semibold text-primary text-uppercase saml">Cor</label>
        <input asp-for="Cor" type="text" class="from-control">
        <span asp-validation-for="Cor" class="text-danger samll fw-semibold"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DiasDeEmprestimo"
               class="form-label fw-semibold text-primary text-uppercase saml">DiasDeEmprestimo</label>
        <input asp-for="DiasDeEmprestimo" type="number" min="1" class="from-control">
        <span asp-validation-for="DiasDeEmprestimo" class="text-danger samll fw-semibold"></span>
    </div>

    <div class="d-flex justfy-content-end gap-2 mt-4">
        <a class="btn btn-outline-primary rounded-pill px-4" asp-action="Listar">Voltar</a>
        <button class="btn btn-primary rounded-pill px-4" type="submit">Confirmar</button>
    </div>
</form>
